data/cityscapes
pretrained_models/*
log/
output/

lib/config/__pycache__/__init__.cpython-36.pyc
lib/config/__pycache__/default.cpython-36.pyc
lib/config/__pycache__/models.cpython-36.pyc
lib/core/__pycache__/criterion.cpython-36.pyc
lib/core/__pycache__/function.cpython-36.pyc
lib/datasets/__pycache__/__init__.cpython-36.pyc
lib/datasets/__pycache__/base_dataset.cpython-36.pyc
lib/datasets/__pycache__/cityscapes.cpython-36.pyc
lib/models/__pycache__/__init__.cpython-36.pyc
lib/models/__pycache__/seg_hrnet.cpython-36.pyc
lib/utils/__pycache__/__init__.cpython-36.pyc
lib/utils/__pycache__/modelsummary.cpython-36.pyc
lib/utils/__pycache__/utils.cpython-36.pyc
tools/__pycache__/_init_paths.cpython-36.pyc
